@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
    background-color: rgb(43, 41, 41);
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    
}
body, html {
    overflow-x: hidden;
  }
/* Root colors */
:root {
  --primary-color: #e6533c;
  --primary-white: #ffffff;
  --pragraph-gray: #7e7c7c;
  --secondary-white: #d8d6d6;
  --secondary-gray: rgb(175, 175, 175);
}

header,
footer {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font {
  font-family: "Miama", sans-serif;
}

/* Navbar start */
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--primary-white);
  margin: 0 auto;
}


/* Brand  */
.brand {
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

/* Nav menu and links */
.nav-menu {
    display: none; 
  }
  
  .menu-toggle {
    display: none; }
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 1rem;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 2.5rem;
}

.nav-items {
  margin-left: 20px;
}

.nav-links {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-white);
  padding: 10px 35px;
  border-radius: 50px;
}

.nav-links:hover,
.nav-links:active {
  background-color: var(--primary-color);
  color: var(--primary-white);
  transition: background-color 0.3s ease;
}

.nav-links.active,
.header-btn.active {
  background-color: var(--primary-color);
  color: var(--primary-white);
}

/* navbar end */
.header-body {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header-body-text {
  color: var(--primary-white);
  padding: 2rem 0;
  margin: 100px 20px;

  width: 600px;
  text-align: left;
}

.header-body-text h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.header-body-text span {
  font: sans-serif;
}

.header-body-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--pragraph-gray);
}

.header-btn {
  display: flex;
  gap: 15px;
}

.header-btn button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-btn button.active {
  background-color: var(--primary-color);
  color: var(--primary-white);
  border: none;
}

.header-btn button:hover {
  background-color: var(--primary-color);
  color: black;
}
.header-btn button.active:hover {
  background-color: transparent;
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
}
.header-video {
    margin-top: 50px;
    width:  30% ;
    display: flex;
    margin-right: 10%;
    position: relative;
}


.header-video-img {
    width: 90%;
    height: auto; 
    background-repeat: no-repeat;
    object-fit: cover; 
    border-radius: 15px; 
}


.video-count {
    position: absolute; 
    display: flex;
    top: 80%;
    right: 70%; 
    background-color: rgba(75, 74, 74, 0.8); 
    padding: 1rem; 
    width: 13rem;
    height: 6rem;
    border-radius: 15px;
    color: var(--primary-white);
    text-align: left; 
    align-items: center; 
    justify-content: center; 
}

.Polygon-img{
  width: 1rem;
  height: 1rem; 
  position: absolute; 
  display: flex;
  top: 60%;
  right: 95%; 

}
.circle {
    align-items: center;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--primary-color);
    border-radius: 50%;
}


.video-stats {
    position: absolute; 
    top: 30%; 
    left: 70%;
    background-color: rgba(75, 74, 74, 0.8); 
    padding: 1rem; 
    width: 13rem;
    height: 6rem;
    border-radius: 15px;
    color: var(--primary-white);
    text-align: left; 
}
/* header-end */
.change-habit {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .change-habit-header {
    display: flex; 
    width: 40%;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    text-align: center;
  }
  .change-habit-header h1{
    font-size: 4rem;
    color: var(--secondary-white);
  }
  .change-habit-header p{
    font-size: 1.5rem;
    color: var(--pragraph-gray);
  }
  .change-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
  }
  
  .change-habit-card {
    width: 18rem;
    height: 19rem;
    text-align: center;
    color: var(--primary-white);
    margin: 0 auto;
  }
  
  .card-image {
    border-radius: 50%;
  }
  .change-habit-card h1{
color: var(--secondary-gray);
  }
  .change-habit-card p {
    color: var(--pragraph-gray);
  }
/* main - start*/
/* runtime */
.runtime{
  color: #d8d6d6;
  width: 80%;
  height: 370px;
  background: rgba(128, 128, 128, 0.2); 
  align-items: center;
  margin: 20px auto;
  display: flex;
  padding:50px ;
  justify-content: space-between;
  border-radius: 10px;

}
.runtime-text{
  width: 443px;
  
}
.runtime-text h1{
 font-size: 4rem;
}

.runtime-text p{
  font-size: 1rem;
 color: var(--pragraph-gray);
 }
 .runtime-text button{
width: 224px;
height: 50px;
border-radius: 100px;
margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--primary-white);
  transition: background-color 0.3s ease;
 }
.runimg img{
  width: 366px;
  height: 312px;
  border-radius: 15px;
}


.exercises-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-auto-rows: 1fr; /* Rows will adjust to maintain square shape */
  width: 100%; /* Adjust the width as needed */
  gap: 0; /* No gap between items */
}

.item {
  position: relative;
  overflow: hidden; /* Ensures that content stays within bounds */
}

.item img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Ensure the image covers the whole area */
  object-fit: cover; /* Crop the image to maintain aspect ratio */
}

.item::after {
  content: ""; /* Empty content for the caption text */
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 5px 0;
}

.item1::after { content: "Image 1"; }
.item2::after { content: "Image 2"; }
.item3::after { content: "Image 3"; }
.item4::after { content: "Image 4"; }
.item5::after { content: "Image 5"; }
.item6::after { content: "Image 6"; }

/* main - end*/
/* footer-start */
.container {
  width: 90%;
  height: 489px;
  margin: auto;
  padding: 70px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

ul {
  list-style: none;
}

footer {
  background-color: #302f2f;
}

.footer-header h1 {
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.footer-header p {
  font-size: 1.5rem;
  color: var(--pragraph-gray); 
}

.footer-nav {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-col h3 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: var(--primary-white);
}

.footer-col ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--pragraph-gray); 
}

.footer-col ul li {
  margin-top: 20px;
}

.footer-col ul li a:hover {
  color: #d8d6d6;
}




/* footer-end */
/* Responsive  */

/* Medium Devices */
@media screen and (max-width: 992px) {
    
    .header-body {
        flex-direction: column;
        align-items: center; 
        width: 100%; 
    }

    
    .header-body-text {
        margin: 20px;
        width: 100%; 
        text-align: center; 
    }

    
    .header-video {
        width: 90%; 
        margin-right: 0; 
        margin-top: 20px; 
    }

    
    .header-video-img, .Polygon-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    
    .video-count, .video-stats {
        position: relative; 
        left: auto;
        right: auto;
        top: auto;
        margin: 10px 0;
    }

    .video-count {
        width: 80%;
        text-align: center;
    }

    .video-stats {
        width: 80%;
        text-align: center;
    }
}
/* Medium end */

/* Mobile Devices */
@media screen and (max-width: 576px) {
    .header-body {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .header-body-text {
        margin: 20px;
        width: 80%;
        text-align: left;
    }

    .header-btn {
        display: flex;
        width: 19rem;
        align-items: center;
        gap: 10px;
    }

    .header-btn button {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: var(--primary-white);
    }

    .nav-menu {
        list-style: none;
        margin: 0;
        padding: 1rem;
        border: 1px solid rgb(48, 48, 48);
        border-radius: 2.5rem;
        display: block;
    }

    .nav-items {
        margin: 10px 0;
        display: block;
    }

    .nav-links {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--primary-white);
        padding: 10px 35px;
        border-radius: 50px;
        display: block;
    }

    .nav-links:hover,
    .nav-links:active {
        background-color: var(--primary-color);
        color: var(--primary-white);
        transition: background-color 0.3s ease;
    }

    .nav-links.active,
    .header-btn.active {
        background-color: var(--primary-color);
        color: var(--primary-white);
    }

    /* Header Body */
    .header-body {
        flex-direction: column;
        width: 100%; 
        padding: 10px;
        margin: 0 auto; 
    }

    .header-body-text h1 {
        font-size: 2.5rem;
    }

    .header-body-text p {
        font-size: 1rem;
    }

    .header-body-text, .header-btn {
        margin: 0 auto;
        padding: 0 10px; 
      }
    .header-btn button {
        font-size: 1rem;
        padding: 10px;
    }

    /* Video Section */

    .header-video {
        width: 100%; 
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        position: relative;
    }

    .header-video-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 15px;
    }

    .Polygon-img {
      display: none;
    }

    .video-count,
    .video-stats {
        position: absolute;
        top: 80%;
        right: 60%;
        background-color: rgba(75, 74, 74, 0.8);
        padding: 1rem;
        width: 8rem;
        height: 4rem;
        border-radius: 8px;
        color: var(--primary-white);
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .circle {
        width: 2rem;
        height: 2rem;
        background: var(--primary-color);
        border-radius: 50%;
    }

    .text-header-video h1,
    .video-stats h1 {
        font-size: 1rem;
    }

    .text-header-video p,
    .video-stats p {
        font-size: 0.4rem;
    }

    .video-stats {
        top: 30%;
        left: 70%;
        padding: 1rem;
        width: 8rem;
        height: 4rem;
        border-radius: 8px;
        color: var(--primary-white);
        text-align: left;
    }
    .change-card {
        grid-template-columns: 1fr;
      }
      .change-habit-header {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding: 20px; 
      }


      .runtime {
        flex-direction: column; 
        text-align: center; 
        height: 531px;
      }
    .runtime-text{
      width: 287px;
      margin-bottom: 20px;

    }
    .runtime-text h1{
     font-size: 2rem;
    }
    .runtime-text p{
      font-size: 1rem;
     }
      .runimg img {
        width: 287px; 
        height: auto; 
      }
      .row {
        flex-direction: column; 
        align-items: center; 
      }
    .footer{
      height: 986px;
    
      
    }
    .footer-col{
      text-align: left;
      margin-top: 20px;
    }
      .footer-nav {
        flex-direction: column; 
        margin-left: 0; 
      }
      .footer-header p{
        color: var(--pragraph-gray);
      }
      .footer-col ul li a{
        color: var(--pragraph-gray);
      }
      .footer-col {
        width: 100%; 
        text-align: left; 
      }
    
      .footer-col h3, .footer-col ul li a {
        margin-bottom: 20px; 
      }
}
